*.meta
*.asset
*.pdf
*.anim
*.controller
*.fbx
*.png
*.mat
*.prefab
*.exr
*.txt
*.unity
*.wav
*.mp3
*.mask
*.obj
*.7z
*.rar
*.tga
*.psd
*.physicMaterial
*.chm
*.asmdef
*.dll
*.pdb
*.xml
*.pri
*.json
*.README
*.jslib
*.md
*opus-COPYING
*.aar
*.so
*.aar
*.h
*.mm
*.chm
*.so
*.bundle
*.a
*.c
*.winmd
*.ttf
*.jpg
*.shader
*.cginc
*.lighting
*.terrainlayer
*.tif
*.renderTexture
*.bmp